/* Helpers */

/* Page */
body {
    background-color: #f1eff1;

}

.box {
    position: relative;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background: -webkit-linear-gradient(315deg, rgba(222,226,244,0.3) 0%, rgba(125,185,232,0) 100%);
    background: linear-gradient(135deg, rgba(222,226,244,0.3) 0%,rgba(125,185,232,0) 100%);
}

.mt-large {
    margin-top: 80px;
}

/* Blog */

.blog-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.blog-title {
    font-size: 26px;
    font-weight: 600;
    padding: 20px 0 10px 0;
}

.blog-date,
.blog-author {
    font-size: 14px;
    color: #999;
    float: right;
    margin-bottom: 40px;
}

.blog-content {
 clear: both;
}

